/* .navbar {
    background: linear-gradient(45deg, #ff6b6b, #ffa502, #1e90ff);
} */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar {
    background-color: rgb(2, 2, 2);
    font-family: 'Indie flower', cursive;
    padding-top: 1in;
}
.navbar-brand {
    color: white !important;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.nav-link {
    color: white !important;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.nav-link:hover {
    color: #f8f9fa !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
.dropdown-menu {
    background: #3245b0;
    border: none;
}
.dropdown-item {
    color: white !important;
}
.dropdown-item:hover {
    background: hsl(39, 57%, 49%);
    color: white !important;
}