
<div class="container ">
  <h1 class="text-center">Starters</h1>
  <div class="row mt-5">
      <div class="col">
          <div class="card" style="width: 18rem;">
              <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCKaAtvI1qjJo4OHuiu-0-97-kUbogJlGqiA&s" class="card-img-top" alt="...">

              <div class="card-body">
                  <h5 class="card-title">Herbed Cucumber</h5>
                  <p class="card-text"> Cucumber Herb Salad is the best refreshing salad to serve this summer. Made with crisp cucumbers and fresh herbs (dill, parsley, and mint) that perfectly compliment each other.
                    So easy and simple to throw together and pairs up with just about everything!
                  </p>
                
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card" style="width: 18rem;">
              <img
                  src="https://c.ndtvimg.com/2019-04/gbkiutf8_chicken-tikka-650_650x400_09_April_19.jpg?im=FaceCrop,algorithm=dnn,width=384,height=384" class="card-img-top" alt="...">

              <div class="card-body">
                  <h5 class="card-title">Kebab</h5>
                  <p class="card-text">                  
                    kebab, dish of Middle Eastern or Central Asian origin that typically combines small pieces of meat such as lamb or beef with vegetables on a skewer and is then grilled. 
                    Kebab derives from a Persian term for the dish that passed into both Arabic (as kabāb) and Turkish (as kebap)</p>
                
                  
              </div>
          </div>
      </div>
      
      <div class="col">
          <div class="card" style="width: 18rem;">
              <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxkuli5D-iC5j5fvVi2H2jr9sBry-8zQlGVg&s" class="card-img-top" alt="...">

              <div class="card-body">
                  <h5 class="card-title"> Tikka</h5>
                  <p class="card-text">Innovate, Educate, Elevate:
                    Chicken tikka is a popular dish consisting of boneless chicken pieces marinated in a spiced yogurt mixture and then grilled or baked, resulting in tender, flavorful, and smoky-flavored bites.</p>
              
              </div>
          </div>
      </div>
     